padding: 20px;
    border-radius: 10px;
}

.jackpot h2 {
    margin-bottom: 20px;
    font-size: 3em;
}

footer {
    background-color: #4B0082;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 90%;  
    margin: 20px auto; 
    padding: 10px;
    background-color: #313131;
    border-radius: 10px;
  }
  caption {
    font-weight: bold;
    margin-bottom: 10px;
  }
  th, td {
    border: 1px solid #e6d709;
    padding: 8px 12px;
    text-align: center;
  }
  th {
    background-color: #681697;
  }
  tr:nth-child(even) td {
    background-color: #302b2b;
  }
  
  h1 {
    text-align: center;
  }

  .content-box {
    background-color: #2e2e2e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1400px;
    font-size: larger;
  }
